{% extends "admin/base_site.html" %}

{% block content %}
    <div class="delete-confirmation">
        <h2>Equips</h2>
        <ul>
            {% for team in teams %}
                <li>{{ team }} ({{ team.get_category_display }} {{ team.get_modality_display }})</li>
            {% endfor %}
        </ul>

        <h2>Selecciona el grup on afegir els equips</h2>

        <form method="post" action="">
            {% csrf_token %}

            <div style="display: block">
                {{ form }}

                <input type="hidden" name="action" value="add_teams">
                <input type="hidden" name="post" value="yes">
            </div>

            <br>

            <div>
                <a href="{{ back_url }}" class="button cancel-link">Torna endarrere</a>
                <input type="submit" value="Afegir equips">
            </div>
        </form>
    </div>
{% endblock %}
