blessings==1.7
boto3==1.9.155
botocore==1.12.155
bpython==0.18
certifi==2019.3.9
chardet==3.0.4
curtsies==0.3.0
Django==2.2.1
django-environ==0.4.5
django-extensions==2.1.7
django-storages==1.7.1
docutils==0.14
greenlet==0.4.15
idna==2.8
jmespath==0.9.4
Pillow==6.0.0
psycopg2==2.8.2
Pygments==2.4.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
s3transfer==0.2.0
six==1.12.0
sqlparse==0.3.0
typing==3.6.6
urllib3==1.25.3
wcwidth==0.1.7
