Package                Version Latest  Type
---------------------- ------- ------- -----
bpython                0.20.1  0.22.1  wheel
charset-normalizer     2.0.12  3.0.1   wheel
curtsies               0.3.4   0.3.10  sdist
django-admin-sortable2 1.0.4   2.2.1   wheel
gevent                 20.9.0  22.10.2 wheel
gunicorn               20.1.0  21.2.0  wheel
psycopg2               2.8.6   2.9.8   sdist
